<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Hackathon.Projects.MediCare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">
        <activity android:name=".SplashScreen.SplashActivity"
            android:theme="@style/SplashLayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.Doctor2" />
        <activity android:name=".Admin.Doctor1" />
        <activity android:name=".Doctor.DoctorProfile" />
        <activity android:name=".Doctor.resolveQueriesDoctor" />
        <activity android:name=".Patient.ChatBot" />
        <activity android:name=".Patient.MindGamesPatient" />
        <activity android:name=".Patient.AskQueryToDoctorPatient" />
        <activity android:name=".Patient.DiagnoseFromPreviousReports" />
        <activity android:name=".Patient.PatientProfile" />
        <activity android:name=".Patient.Diabetes" />
        <activity android:name=".Doctor.DoctorPage" />
        <activity android:name=".Patient.PatientPage" />
        <activity android:name=".Admin.AdminPage" />
        <activity android:name=".Patient.LiverDisease" />
        <activity android:name=".Patient.CardioVascularDisease" />
        <activity android:name=".Patient.Symptoms" />
        <activity android:name=".Login.SignUpActivity" />
        <activity android:name=".Login.MainActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>